streamlit
matplotlib
numpy
pandas
seaborn
scikit-learn
openpyxl
torch
google-generativeai
pyvis
plotly
streamlit_option_menu
langchainhub
unstructured
langchain
openai
faiss-cpu
pinecone-client
python-dotenv
PyPDF2
transformers
torch
