streamlit
matplotlib
numpy
pandas
seaborn
scikit-learn
openpyxl
transformers
joblib
tqdm
torch
google-generativeai
pyvis
plotly
streamlit_option_menu
langchainhub
unstructured
langchain
openai
sentence-transformers
tiktoken
faiss-cpu
pinecone-client
